@page "{id}"
@model Involver.Pages.Episodes.CreateModel
@using Involver.Common
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "新增章節";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="mb-0">新增章節</h1>
                    <a asp-page="/Novels/Details" asp-route-id="@Model.Novel.NovelID" class="btn btn-sm btn-outline-secondary"><i class="fas fa-book"></i> 回到小說</a>
                </div>
            </div>
            <div class="card-body">
                <form method="post" class="needs-recaptcha" data-sitekey="@Configuration["reCAPTCHA-SiteKey"]" data-action="CreateEpisode">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input type="hidden" asp-for="Novel.NovelID" />

                    <div class="mb-3">
                        <label asp-for="Episode.Title" class="form-label"></label>
                        <input asp-for="Episode.Title" class="form-control" />
                        <span asp-validation-for="Episode.Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Episode.Content" class="form-label"></label>
                        <textarea asp-for="Episode.Content" id="editor" class="form-control" rows="14" placeholder="在這裡寫些東西..."></textarea>
                        <div id="word-count" class="text-end text-body-secondary"></div>
                        <span asp-validation-for="Episode.Content" class="text-danger"></span>
                    </div>

                    <div class="mb-3 d-flex justify-content-end">
                        <a asp-page="/Novels/Details" asp-route-id="@Model.Novel.NovelID" class="btn btn-secondary me-2">取消</a>
                        <button class="btn btn-primary"type="submit">建立</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["reCAPTCHA-SiteKey"]" async defer></script>
    @{
        ViewData["EditorId"] = "editor";
        ViewData["WordCountDivId"] = "word-count";
        ViewData["MaxLength"] = Parameters.ArticleLength;
        await Html.RenderPartialAsync("_ClassicEditorPartial");
    }
}