@using DataAccess.Models.NovelModel;
@model PaginatedList<Episode>

<table class="table">
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                if (item.Title != null)
                {
                    <tr id="@item.EpisodeID">
                        <td>
                            <a href="/Episodes/Details?id=@item.EpisodeID">
                                @Html.DisplayFor(modelItem => item.Title)
                                @if (item.IsLast == true)
                                {
                                    <span class="badge badge-warning"><b style="color:white">最新</b></span>
                                }
                            </a>
                            <p>
                                <small>@TimePeriodHelper.Get(item.UpdateTime) | 觀看數：@item.Views</small>  
                            </p>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>