@using Involver.Models.NovelModel;
@model PaginatedList<Episode>

<table class="table">
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                if (item.Title != null)
                {
                    <tr id="@item.EpisodeID">
                        <td style="width:60%">
                            <a href="/Episodes/Details?id=@item.EpisodeID">
                                @Html.DisplayFor(modelItem => item.Title)
                            </a>
                            @*@Html.AntiXssRaw(item.Title.Replace("\r\n", "<br />"))*@
                        </td>
                        <td style="width:20%">
                            @if (item.IsLast == true)
                            {
                                <span class="text-warning"><b>最新</b></span>
                            }
                            <p>觀看數：@item.Views</p>
                        </td>
                        <td style="width:20%">
                            <small>@Html.DisplayFor(modelItem => item.UpdateTime)</small>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>