@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent"
         class="alert alert-info fade show d-flex justify-content-between align-items-center"
         role="alert">

        <div>
            本網站會使用 cookie 為用戶提供服務
            <a asp-area="" asp-page="/Descriptions/Privacy">了解更多</a>
        </div>

        <button type="button"
                class="accept-policy btn btn-sm btn-primary ms-3"
                data-bs-dismiss="alert"
                data-cookie-string="@cookieString">
            同意
        </button>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}