@page
@model Involver.Pages.Articles.EditModel

@{
    ViewData["Title"] = "編輯";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>編輯</h1>

<h4>討論</h4>
<hr />
<div>
    <a asp-page="./Details" asp-route-id="@Model.Article.ArticleID"
       class="btn btn-xs btn-outline-info"><i class="fas fa-chevron-up"></i> 回到文章</a>&nbsp&nbsp
    <a asp-page="./Index" class="btn btn-xs btn-outline-info"><i class="fas fa-chevron-left"></i> 回到清單</a>
</div>
<p></p>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.ErrorMessage != null)
            {
                <div class="text-danger">@Model.ErrorMessage</div>
            }
            <input type="hidden" asp-for="Article.ArticleID" />
            <input type="hidden" asp-for="Article.ProfileID" />
            <div class="form-group">
                <label asp-for="Article.Title" class="control-label"></label>
                <input asp-for="Article.Title" class="form-control" />
                <span asp-validation-for="Article.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Article.Content" class="control-label"></label>
                <textarea asp-for="Article.Content" id="editor" class="form-control" rows="12" placeholder="在這裡寫些東西..."></textarea>
                <span asp-validation-for="Article.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagString" class="control-label"></label>
                <input asp-for="TagString" class="form-control" />
                <span asp-validation-for="TagString" class="text-danger"></span>
            </div>
            <div class="alert alert-info" role="alert">
                <p>
                    Ex. 標籤1,標籤2,標籤3。
                </p>
                <p>
                    至多三個標籤，每個標籤不超過15個字。
                </p>
            </div>
            @if (User.IsInRole(Authorization.Announcement.Announcements.AnnouncementManagersRole) ||
               User.IsInRole(Authorization.Announcement.Announcements.AnnouncementAdministratorsRole))
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Article.Block" /> @Html.DisplayNameFor(model => model.Article.Block)
                    </label>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: {
                    items: [
                        'heading',
                        '|',
                        'bold',
                        'italic',
                        'underline',
                        'strikethrough',
                        'fontBackgroundColor',
                        'fontColor',
                        'removeFormat',
                        'findAndReplace',
                        '|',
                        'bulletedList',
                        'numberedList',
                        'outdent',
                        'indent',
                        'horizontalLine',
                        '|',
                        'link',
                        'imageInsert',
                        'blockQuote',
                        'insertTable',
                        'mediaEmbed',
                        'sourceEditing',
                        'undo',
                        'redo'
                    ]
                },
                image: {
                    toolbar: [
                        'imageTextAlternative',
                        'imageStyle:inline',
                        'imageStyle:block',
                        'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn',
                        'tableRow',
                        'mergeTableCells'
                    ]
                },
                licenseKey: '',
                mediaEmbed: {
                    previewsInData: true
                }
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error(error);
            });
    </script>
}
