@page
@model Involver.Pages.Novels.BufferedSingleFileUploadDbModel

@{
    ViewData["Title"] = "BufferedSingleFileUploadDb";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>BufferedSingleFileUploadDb</h1>

<h4>Novel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Novel.NovelID" />
            <dl>
                <dt>
                    <label asp-for="FileUpload.FormFile"></label>
                </dt>
                <dd>
                    <input asp-for="FileUpload.FormFile" type="file">
                </dd>
            </dl>
            <input asp-page-handler="Upload" class="btn" type="submit" value="Upload">
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
