@page
@model Involver.Areas.Identity.Pages.Profile.AchievementsModel
@{
    ViewData["Title"] = "成就";
    ViewData["ActivePage"] = ManageNavPages.Achievements;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<div class="row">
    @foreach(var item in Model.Achievements)
    {
        string badgeColor = "";
        if (item.Rank == 1)
        {
            badgeColor = "bronze";
        }
        else if (item.Rank == 2)
        {
            badgeColor = "silver";
        }
        else
        {
            badgeColor = "gold";
        }
        <span class="col-auto" title="@item.Content">
            <span class="badge badge-pill @badgeColor text-dark">@item.Title</span>
            <small class="text-muted">@item.ProfileAchievements.FirstOrDefault()?.AchieveDate</small>
        </span>
    }
</div>