@page
@model Involver.Areas.Identity.Pages.Profile.AchievementsModel
@{
    ViewData["Title"] = "成就";
    ViewData["ActivePage"] = ManageNavPages.Achievements;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<div class="row">
    @foreach (var item in Model.Achievements.OrderByDescending(a => a.ProfileAchievements.FirstOrDefault().AchieveDate))
    {
        string borderColorClass = "";
        string titleColorClass = "";
        switch (item.Rank)
        {
            case 1:
                borderColorClass = "border-bronze";
                titleColorClass = "bronze";
                break;
            case 2:
                borderColorClass = "border-silver";
                titleColorClass = "silver";
                break;
            case 3:
                borderColorClass = "border-gold";
                titleColorClass = "gold";
                break;
            default:
                borderColorClass = "border-light";
                break;
        }

        <div class="col-md-4 mb-4">
            <div class="card h-100 @borderColorClass shadow-sm">
                <div class="card-body">
                    <h5 class="card-title badge rounded-pill @titleColorClass text-dark">@item.Title</h5>
                    <p class="card-text">@item.Content</p>
                </div>
                <div class="card-footer bg-transparent border-top-0">
                    <small class="text-body-secondary">達成於: @item.ProfileAchievements.FirstOrDefault()?.AchieveDate.ToString("yyyy-MM-dd")</small>
                </div>
            </div>
        </div>
    }
</div>

@section Styles {
    <style>
        .border-gold {
            border: 2px solid #ffd700;
        }

        .border-silver {
            border: 2px solid #c0c0c0;
        }

        .border-bronze {
            border: 2px solid #cd7f32; /* Bronze color */
        }
    </style>
}