@page
@model Involver.Areas.Identity.Pages.Profile.ChangeProfileModel
@{
    ViewData["Title"] = "基本資料";
    ViewData["ActivePage"] = ManageNavPages.Index;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" method="post">
            @*<div asp-validation-summary="All" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Profile.Introduction" class="control-label"></label>
                <textarea asp-for="Profile.Introduction" id="editor" class="form-control" rows="6" placeholder="在這裡寫些東西..."></textarea>
                <div id="word-count"></div>
                <span asp-validation-for="Profile.Introduction" class="text-danger"></span>
            </div>
            <div class="form-group">
	            <label asp-for="Profile.ImageUrl" class="control-label"></label>
	            <input asp-for="Profile.ImageUrl" class="form-control" />
	            <span asp-validation-for="Profile.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
	            <label asp-for="Profile.BannerImageUrl" class="control-label"></label>
	            <input asp-for="Profile.BannerImageUrl" class="form-control" />
	            <span asp-validation-for="Profile.BannerImageUrl" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">儲存</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function onSubmit(token) {
         document.getElementById("form").submit();
       }
    </script>
    @{
        ViewData["EditorId"] = "editor";
        ViewData["WordCountDivId"] = "word-count";
        ViewData["MaxLength"] = Parameters.ProfileIntroLength;
        await Html.RenderPartialAsync("_ClassicEditorPartial");
    }
}