@page
@model Involver.Areas.Identity.Pages.Profile.ViewedArticlesModel
@{
    ViewData["Title"] = "觀看紀錄";
    ViewData["ActivePage"] = ManageNavPages.Vieweds;
    ViewData["ProfileID"] = Model.Profile.ProfileID;
    if (!string.IsNullOrEmpty(Model.Profile.BannerImageUrl))
    {
        ViewData["BannerImageUrl"] = Model.Profile.BannerImageUrl;
    }
}

<div>
    <div>
        <a asp-page="./Vieweds"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-outline-info">創作</a>
        &nbsp&nbsp
        <a asp-page="./ViewedArticles"
           asp-route-id="@Model.Profile.ProfileID"
           class="btn btn-xs btn-info disabled">文章</a>
    </div>
    <p></p>
    <div id="viewed-articles-container">
        <partial name="_ViewedArticleListPartial" model="Model.Articles" />
    </div>
    <div id="loading" style="display: none;" class="text-center">
        <p>正在加載更多...</p>
    </div>
</div>

@section Scripts {
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var profileId = "@Model.Profile.ProfileID";
            setupInfiniteScroll('#viewed-articles-container', '#loading', 'LoadMore', { id: profileId });
        });
    </script>
}