@page
@model PersonalDataModel
@{
    ViewData["Title"] = "資料處理";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>你的帳號有你給我們的個人資料。 這個頁面允許你下載或是刪除資料。</p>
        <p>
            <strong>刪除資料會永久的移除你的帳號，而且不能恢復。</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="mb-3 needs-recaptcha" data-sitekey="@Configuration["reCAPTCHA-SiteKey"]" data-action="DownloadPersonalData">
            <button class="btn btn-primary" type="submit">下載</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-primary">刪除</a>
        </p>
    </div>
</div>

@section Scripts {
}