@page
@model Involver.Pages.Descriptions.AboutInvolverModel
@{
    ViewData["Title"] = "關於Involver";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">讓每個人都能參與<text style="color:orange">創作</text>、支持<text style="color:orange">創作</text></h1>
    <h1 class="display-4">使<text style="color:orange">創作</text>者能給大家做出更好的作品</h1>
    <p></p>
    <a asp-page="/Novels/Index"><img src="~/images/DSC_0180Resize.JPG" alt="index-image" class="img-fluid" /></a>
    <a asp-area="" asp-page="/StatisticalData/Index">統計資料</a>
</div>


