@page
@model Involver.Pages.Descriptions.ContentModel
@{
    ViewData["Title"] = "內容政策";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <h2> Involver 內容政策</h2>
    <p> Involver 希望可以讓大家自由的參與創作、支持創作，作者也可以因此受惠，提供給大家更好的作品，而這些由互動與互相參與成誕生的作品，希望可以成為新的一種作品形式，因為參與作品是最主要的創作方式，藉由這種方式希望能降低作品體驗的延遲性。</p>
    <p>為了保護這些價值，如果有任何不當的行為危害到這個理念所倡導的言論自由，管理員會加以制止。所以 Involver 所提供的內容有些限制，這些限制不僅符合法規，也要能帶給大家更好的討論空間。</p>

    <h3>內容範疇</h3>
    <p>請務必遵守以下規範。也可能不時地更改內容以符合時代的變化，相關更動都會在公告區公告。另外，管理員也可能因為公共利益的考量，做出一些適當的判例。</p>
    <p><b>成人內容：</b>可以使用成人相關的描述，但是創作的簡介區需要提供相關的警告，並且不允許張貼成人圖片與影片。</p>
    <p>成人內容的文字描述也不能涉及非法的內容，例如鼓吹強暴、亂倫、人獸交或戀屍癖之類內容。</p>
    <p><b>兒童安全：</b>禁止任何鼓勵剝削與利用兒童的內容。除非創作有其必要，請提供充分的理由。</p>
    <p><b>仇恨言論：</b>切勿散佈仇恨言論。仇恨言論指針對特定人種或族裔、宗教、殘疾、年齡、國籍、退伍狀態、性傾向、性別、性別認同或其他系統性歧視或邊緣化相關特質的個人或群體，煽動或苟同暴力的內容，以及主要目的為針對這些特質激起仇恨的內容。</p>
    <p><b>不堪入目的內容：</b>不得發布駭人的圖片與影片。如果與創作相關，務必提供充分理由。</p>
    <p><b>暴力：</b>不得無端發布暴力或血腥的圖片或影片，如果與創作相關，務必提供充分理由。</p>
    <p><b>恐怖主義：</b>不得發布策畫、煽動或宣揚恐怖攻擊的內容。如果與作品相關，請務必提供充分理由。</p>
    <p><b>騷擾和威脅：</b>請勿騷擾或霸凌他人。如有任何使用者利用平台騷擾或霸凌他人，該使用者發布的內容可能會遭到移除，其帳戶也可能遭到永久停權。在許多國家/地區，在網路上騷擾他人皆為違法行為，在現實生活中也可能招致嚴重的後果。請勿恫嚇您的網誌讀者，例如針對個人或群體發布危及人身安全或置人於死地的威脅內容，您也不應鼓勵讀者針對其他個人或群體行使暴力行為。</p>
    <p id="right"><b>版權：</b>詳細請參閱中華民國著作權法的說明。</p>
    <p>另外二次創作不能用來營利，如有違反者可能刪除發布內容，屢犯者停權。</p>
    <p>
        <b>個人資訊及機密資訊：</b>不得發布他人的個人資訊及機密資訊，例如張貼他人的信用卡號碼、身分證字號、未公開的電話號碼以及駕照號碼。
    </p>
    <p><b>冒用他人身分與不實陳述或行為：</b>切勿假冒他人或其他機構，或提供有關自身的不實資訊。</p>
    <p><b>誤導性內容：</b>請勿發布任何欺騙、誤導或混淆使用者的內容。</p>
    <p>例如與危害健康有關的誤導性內容：宣傳或鼓勵他人從事可能對個人造成重大身心傷害的行為，或是嚴重危害公共健康的醫藥內容。</p>
    <p>受操控的媒體：這類媒體經過技術性操控或篡改以誤導使用者，很可能會造成嚴重的傷害。</p>
    <p><b>非法活動：</b>不得利用平台從事非法活動或鼓吹危險的非法活動。</p>
    <p><b>垃圾內容：</b>平台認定的垃圾內容有多種形式，發布任何這類垃圾內容都可能導致您的帳戶或創作遭到刪除。例如以獲取收益或其他個人利益為主要目的而抄襲其他資源的現有內容。</p>
    <p><b>惡意軟體與病毒：</b>您所發布的內容不得傳播病毒、帶出彈出式視窗、未經讀者同意逕自安裝軟體，或是透過惡意程式碼影響讀者。</p>
    <p>違者請於回報與意見區檢舉，之後可能會有專用的檢舉功能。</p>
</div>