@page
@model Involver.Pages.Descriptions.PrivacyModel
@{
    ViewData["Title"] = "隱私權政策";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div>
    <h3>簡介</h3>
    <ul>
        <li> Involver 只會蒐集用戶提供的資料。</li>
        <li>除非獲得同意，或是法律部門的需求， Involver 不會向任何人提供用戶資料。</li>
        <li> Involver 會盡力保障用戶資料的安全。</li>
    </ul>

    <h3>詳閱並同意條款</h3>
    <p>當你註冊完成帳號時，也代表你已經閱讀並同意 Involver 的各項政策</p>

    <h3>你的個人資料</h3>
    <p>至少包含以下幾項：</p>
    <ul>
        <li>用戶名</li>
        <li>電郵地址</li>
        <li>銀行帳戶和持有人證明（如果要接受創作收入分潤的話）</li>
        <li>信用卡卡號、銀行名稱、到期日和其他帳號（以供付費）</li>
    </ul>

    <h3>IP位址</h3>
    <p> Involver 會蒐集用戶的IP位址，作為統計數據之用。</p>

    <h3>Cookies</h3>
    <p> Involver 會使用Cookies作為短暫儲存用戶辨別的工具。</p>

    <h3>個人資料的變更與刪除</h3>
    <p>用戶可以在個人檔案與帳號管理中編輯資料，可以在帳號管理中備份與刪除個人帳號資料。</p>

    <h3>隱私權政策的變更</h3>
    <p>未來隱私權政策還有可能經過數次變更與調整，每次的更動會在公告中提醒用戶，請注意公告的發布。</p>
</div>