@page
@model Involver.Pages.Descriptions.TermsModel
@{
    ViewData["Title"] = "服務條款";
}
<h1>@ViewData["Title"]</h1>

<hr />

<h2>簡介</h2>
<p>本《服務條款》反映出 Involver 的業務營運模式。</p>
<p>使用服務與註冊前請務必詳閱並同意。</p>

<h4>本條款包括下列主題：</h4>
<ul>
    <li><a href="#behaves">行為準則</a></li>
    <li><a href="#rights">使用權限</a></li>
    <li><a href="#content">用戶提供的內容</a></li>
    <li><a href="#services">服務的使用</a></li>
    <li><a href="#problems">糾紛處理</a></li>
    <li><a href="#acts">採取行動</a></li>
    <li><a href="#about">關於本條款</a></li>
</ul>

<hr />
<h3>年齡</h3>
<p>如果你未達到自行管理帳號的年齡，你必須取得監護人同意，才能使用此平台的服務。</p>
<p>
    如果是監護人，必須為被監護人的行為負責。
</p>

<h3 id="behaves">行為準則</h3>
<p>
    如果要持續使用此平台的服務，就必須履行本條款與其他政策所描述的責任。
    另外 Involver 所提供的服務，智慧財產權依然為 Involver 所有。
</p>

<h3>尊重他人</h3>
<p>為了維護互相尊重的環境，請遵守下列行為準則：</p>
<ul>
    <li>遵守適用法律</li>
    <li>尊重他人權利，包括隱私權與智慧財產權</li>
    <li>勿辱罵或傷害他人或自己，或是威脅或鼓吹他人從事類似行為，勿誤導、詐騙、誹謗、霸凌、騷擾或跟蹤他人</li>
    <li>勿濫用、破壞、干擾平台，導致服務中斷</li>
</ul>
<hr />

<h3 id="rights">使用權限</h3>
<p>平台可讓你上傳、提交、儲存、傳送、接收或分享你的內容（例如：創作、文章、留言等等）。</p>
<p>上傳或分享內容時，請確認你有相關必要權利，並且內容無違法之虞。</p>

<h3>授權</h3>
<p>內容提供者的內容都屬於原作者所擁有。作者保有自己內容的所有智慧財產權。</p>

<h3>範圍</h3>
<p>只要內容受到智慧財產權保護，即在本授權涵蓋範圍內。</p>

<h3>權利</h3>
<p>本授權允許 Involver 執行下列動作：</p>
<ul>
    <li>管理、重製、散布、傳播及使用內容</li>
    <li>發布、公開傳輸或公開展示您的內容 (前提是您已開放他人查看這些內容)</li>
    <li>修改內容以及根據內容創作衍生作品，例如重新設定內容格式或進行翻譯</li>
</ul>

<h3>目的</h3>
<p>本授權僅適用於下列少數幾種目的：</p>
<ul>
    <li>維持服務運作並提升服務品質</li>
    <li>使用您公開分享的內容來推廣服務</li>
    <li>開發新的技術和服務</li>
</ul>

<h3>時間</h3>
<p>只要內容受到智慧財產權保護，本授權便持續具有效力。</p>
<p>如果你將本授權涵蓋的任何內容從平台中移除，系統將在合理時間內停止公開這些內容。</p>
<hr />

<h3 id="content">用戶提供的內容</h3>
<p>用戶可以透過 Involver 的某些服務公開提供用戶的內容。</p>
<p>如果你認為有人侵害你的智慧財產權，可以傳送侵權通知給 Involver ，我們將採取適當行動。</p>

<h3>平台提供的內容</h3>
<p>你可以在本條款及任何服務專屬附加條款的許可範圍內使用本平台的內容，但平台保有這些內容的智慧財產權。請勿移除、遮蓋或變造 Involver 的品牌特徵、標誌或法律聲明。</p>

<h3>使用與限制</h3>
<p>除非法律允許，否則你必須取得內容擁有者或機構的許可，才能使用相關內容。其他人或機構在其內容中表達的觀點純屬個人或該機構的意見，並不當然代表 Involver 的立場。</p>
<hr />

<h3>第三方的責任</h3>
<p>本服務或協力廠商可能會提供連結至其他網站或網路資源的連結。你可能會因此連結至其他業者經營的網站，其他業者經營的網站均由各該業者自行負責，不屬本服務控制及負責範圍之內，你仍需自行判斷繼續使用其他業者經營網站的服務是否合宜或合法。</p>
<hr />

<h3 id="services">服務的使用</h3>
<p>我們授與你使用我們服務所提供的軟體之授權如下：</p>
<ul>
    <li>全球性，表示本授權在全球各地皆有效</li>
    <li>非專屬性，表示我們可授權予其他人</li>
    <li>免權利金，表示你無須為本授權支付任何費用</li>
    <li>供個人使用，表示本授權效力不及於其他人</li>
    <li>不可轉讓，表示你不得將本授權轉讓給他人</li>
</ul>

<h3>必要條件</h3>
<p>用戶不得複製、修改、散布、銷售或出租 Involver 服務或軟體的任何部分。</p>
<p>不得以損害平台與平台使用者利益的方式濫用服務</p>
<hr />

<h3>廣告</h3>
<p>之後可能會有廣告內容。</p>
<p>在本服務中瀏覽到的所有廣告內容、文字與圖片之說明、展示樣品或其他銷售資訊，均由各該廣告商、產品與服務的供應商所設計與提出。</p>
<p>對於廣告之正確性與可信度應自行斟酌與判斷。本公司僅接受委託予以刊登，不對前述廣告負擔保責任。</p>
<hr />

<h3 id="problems">糾紛處理</h3>
<p>消費者可持續享有所在國家/地區賦予消費者的合法權利。</p>

<h3>擔保</h3>
<p>我們會盡量保持良好的服務品質，如果有任何問題，請告知。</p>

<h3>免責聲明</h3>
<p>用戶個人發言不代表平台立場。</p>
<p>對於服務內容的完整性、穩定性，以及是否符合使用者需求，不會作出任何承諾。</p>
<p>除非法律規定，否則平台不會提供任何默認擔保，例如對適銷性、特定用途適用性及未侵權之默示擔保。</p>

<h3>可能的補償</h3>
<p>如果有任何疑問，回報之後會針對情況作出判例性的補償行動。</p>

<h3>法律責任</h3>
<p>本條款僅在適用法律許可範圍內限制 Involver 的責任。具體來說，本條款並未限制 Involver 對於以下情況的法律責任：死亡或人身傷害、詐欺、欺詐性不實陳述或行為、重大過失或故意的不法行為。</p>
<p>除了以上所述的權利和責任之外，任何其他損失皆不屬於 Involver 的責任範圍，但因我們違反本條款而導致的損失除外。</p>

<h3>智慧財產權的自我保護</h3>
<p>創作者的智慧財產權應該自行保護，本平台只提供不會濫用創作內容的保證而已，不提供追訴侵權者的服務。</p>
<p>如果有爭議的侵權內容，請告知本平台，會做出判例性的補償行動，例如刪除內容或是停權。</p>

<h3>僅適用於商業使用者和機構</h3>
<p>如果您是商業使用者或機構，則在適用法律許可的範圍內：</p>
<p>您必須就因您以違法方式使用服務，或是違反本條款或服務專屬附加條款所產生或與之相關的任何第三方法律訴訟 (包括政府機關所採取的動作)，向 Involver 及其董事、高階主管、員工和承包商做出賠償。賠償範圍涵蓋因請求、損失、損害、判決、罰款、訴訟費用和法律費用而引起的任何法律責任或費用。</p>

<h3>平台不承擔以下責任：</h3>
<ul>
    <li>利潤、收益、商機、商譽或預期節省金額方面的損失</li>
    <li>間接或衍生性損失</li>
    <li>懲罰性損害賠償</li>
</ul>
<hr />

<h3 id="acts">採取行動</h3>
<p>在以下狀況發生時，我們會將合理可行的情況下提前通知，以及採取行動的原因，讓使用者有機會解決問題，除非我們合理相信這麼做會導致：</p>
<ul>
    <li>對使用者、第三方或 Involver 造成傷害，或必須因此負起相關責任</li>
    <li>違反法律或執法機關命令</li>
    <li>對調查有不良影響</li>
    <li>對 Involver 服務的運作、完整性或安全有不良影響</li>
</ul>

<h3>移除內容</h3>
<p> Involver 有依據本服務條款以及內容政策移除使用者任何內容的權利。</p>

<h3>停權</h3>
<p> Involver 保留權利，可於發生下列任一情況時暫停或終止你的內容存取權，或是刪除您的 Involver 帳戶：</p>
<ul>
    <li>嚴重或多次違反本條款或各項政策</li>
    <li>法律或法院命令規定這麼做</li>
    <li>我們合理確信你的行為 (例如入侵、網路詐騙、騷擾、濫發垃圾內容、誤導他人或剪輯非你擁有的內容) 對使用者、第三方或 Involver 造成傷害，或必須因此負起相關責任</li>
</ul>
<p>如果認為自己的帳號勿遭停權或終止，可以透過信箱提出申訴。</p>
<p>且使用者可以隨時停止使用平台服務，也歡迎提出任何意見。</p>

<h3>法律</h3>
<p>本平台所產生或與之相關的任何爭議，都將受中華民國法律規範，並由台灣各地方法院審理與裁決，使用者與 Involver 皆同意受上述法院之屬人管轄。</p>
<p>如果適用的當地法律禁止透過台灣法院解決爭議，以當地法院為準。</p>
<hr />

<h3>條款之更動</h3>
<p> Involver 擁有視情況更動條款的權利，請關注公告以得知最新的條款內容。</p>
<hr />

<h3 id="about">
    關於本條款
</h3>
<p>如果使用者不遵守本條款或服務專屬附加條款，而我們未立即採取行動，這並不表示我們要放棄任何既有的權利，例如日後再採取行動的權利。</p>
