@model List<Toast>

<div id="toasts">
    @if (Model != null)
    {
        <div aria-live="polite" aria-atomic="true">
            <div style="position: fixed; top: 30px; right: 30px;min-width: 300px;z-index: 1030;">
                @foreach (var item in Model)
                {
                    string badgeColor = "";
                    if (item.Award == Parameters.BronzeBadgeAward)
                    {
                        badgeColor = "bronze";
                    }
                    else if (item.Award == Parameters.SilverBadgeAward)
                    {
                        badgeColor = "silver";
                    }
                    else
                    {
                        badgeColor = "gold";
                    }
                    <div class="toast mb-3" data-bs-autohide="false">
                        <div class="toast-header">
                            <span class="dot me-1 @badgeColor"></span>
                            <strong class="me-auto text-primary">@item.Header</strong>
                            <button type="button" class="ms-2 mb-1 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            @item.Body
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
