@page
@model Involver.Pages.Feed.NotificationsModel
@{
    Layout = null;

    string dataCount = string.Empty;

    int notificationCount = Model.Count;

    if (notificationCount > 0)
    {
        dataCount = $"data-count={notificationCount}";

        if (notificationCount > 99)
        {
            dataCount = $"data-count={"99+"}";
        }
    }
}

<div class="dropdown" id="notification">
    @if(Model.UserId != null && Model.Notifications != null)
    {
        var url = @"/Feed/Notifications?handler=Read";
        <button id="notificationClick" type="button" class="nav-link btn btn-sm btn-link" data-toggle="dropdown" title="通知" onclick="ReadNotification('@Model.UserId', '@url')">
            <span class="fa-stack" id="notificationStack" @dataCount>
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
            </span>
        </button>
        <div class="dropdown-menu dropdown-menu-right" style="min-width: 300px;">
            @foreach(var item in Model.Notifications)
            {
                <span class="dropdown-item">
                    @if (!item.IsRead)
                    {
                        <span class="dot"></span>
                    }
                    <a class="nav-link" href="@item.Url">
                        <small>@Html.AntiXssRaw(item.Title)</small><br/>
                        <small>@TimePeriodHelper.Get(item.CreatedDate)</small>
                    </a>
                </span>
            }
        </div>
    }
</div>
